<div>
    <form>
        <label for="username">Username</label>
        <input type="text" ng-model="user.username" id="username" value="" />
        <br />
        <label for="password">Password</label>
        <input type="password" ng-model="user.password" id="password" value="" />
        <br />
        <label for="confirm-password">Confirm Password</label>
        <input type="password" ng-model="user.confirmPassword" id="confirm-password" value="" />
        <br />
        <label for="name">Name</label>
        <input type="text" ng-model="user.name" id="name" value="" />
        <br />
        <label for="email">Email</label>
        <input type="email" ng-model="user.email" id="email" value="" />
        <br />
        <button ng-click="register(user)">Register</button>
        <div ng-bind="message"></div>
    </form>
</div>