<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="MainController">
    <div ng-repeat="item in items" my-lazy-render="showit" echo>
        {{item}}
    </div>

    <button class="btn btn-primary" ng-click="showit = true">Render items</button>
</body>
</html>
